body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

/*Formulário*/
.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #555;
}

input, textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

/* hero session */
.hero-session {
    text-align: center;
    margin-top: 50px;
    color: #777;
    font-size: 14px;
}